*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.nav-item{
    margin-left: 30px;
}

.nav-link{
    font-size: 20px;
}

.navbar-collapse{
    display: flex;
    justify-content: flex-end;
}

.navbar-collapse ul{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.content-1{
    width: 100%;
    display: flex;
}

.content-1 .sidebar{
    width: 15%;
    height: 755px;
    background-color: rgb(27,96,196);
}

.sidebar ul{
    width: 100%;
    padding:0;
}

.sidebar ul a{
    font-size:17px;
    text-decoration: none;
    color:white;
}

.sidebar ul a:hover{
    color:black;
}

.sidebar ul a li{
    list-style: none;
    display: flex;
    justify-content: center;
    padding:20px 0px;
    border-bottom: 4px solid white;
}

.content{
    width: 85%;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

.content p{
    font-size: 50px;
}

.content input{
    margin-bottom: 30px;
}

.content button{
    padding:10px 40px;
    border-radius:50px;
    color:white;
    font-size: 50px;
    margin-bottom: 30px;
}

.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    padding:5px;
    margin:0;
    background-color: rgb(60, 58, 58);
    color:white;
}